{% extends 'layouts.html' %}

{% block content %}

{% include '_messages.html' %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/admin">Administrador</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pracas">Praças</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/arvores"><strong>Árvores</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/familias">Famílias</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          
        </div>
      </nav>
</div>
<div class="container mt-2">
    <table class="table table-sm table-striped">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Espécie</th>
            <th></th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>

        <tbody>
          
            {% if arvores %} 
            {% for arvore in arvores %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{arvore.name}}</td>
                <td>{{arvore.especie}}</td>
                <td></td> 
                <td><a href="{{url_for('updatearvore', id=arvore.id)}}" class="btn btn-sm btn-outline-warning">Editar</a></td>
                <td><a href="" class="btn btn-sm btn-outline-danger">Deletar</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>


    </table>
</div>

{% endblock content %}
