{% extends 'layouts.html' %}

{% block content %}

{% include '_messages.html' %}
<div class="container">
  <div class="col-sm">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/"><img class="navbar-brand" src="{{url_for('static', filename='images/brasao.png')}}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pracas">Praças</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/arvores">Árvores</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/familias"><strong>Famílias</strong></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adicionar
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('addpraca')}}">Add Praça</a>
                <a class="dropdown-item" href="{{url_for('cadarvore')}}">Add Árvore</a>
                <a class="dropdown-item" href="{{url_for('addfamilia')}}">Add Família</a>
                <a class="dropdown-item" href="{{url_for('addarvore')}}">Vincular Árvore</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('registrar')}}">Novo Administrador</a>
              </div>
            </li>
            
          </ul>
          
        </div>
      </nav>
</div>
<div class="container mt-2">
    <table class="table table-sm table-striped">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th></th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>

        <tbody>
            {% if familias %} 
            {% for familia in familias %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{familia.name}}</td>
                <td></td>
                <td><a href="{{url_for('updatefamilia', id=familia.id)}}" class="btn btn-sm btn-warning">Editar</a></td>

                <td>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{familia.id}}">
                  Deletar
                </button>
                </td>
            </tr>
<div class="modal fade" id="exampleModal-{{familia.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{familia.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger">Deseja realmente deletar a  <strong>Família {{familia.name}}</strong> </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <form action="{{url_for('deletarfamilia', id=familia.id)}}" method="POST">
        <button type="submit" class="btn btn-danger">Deletar</button>
        </form>  
      </div>
    </div>
  </div>
</div>
            
            {% endfor %}
            {% endif %}
        </tbody>


    </table>
</div>

{% endblock content %}
