{% extends 'layouts.html' %}

{% block content %}

{% include '_messages.html' %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"> 
        <a class="navbar-brand" href="/admin">Administrador</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin"><strong>Home</strong><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pracas">Praças</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/arvores">Árvores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/familias">Famílias</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adicionar
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('addpraca')}}">Add Praça</a>
                <a class="dropdown-item" href="{{url_for('cadarvore')}}">Add Árvore</a>
                <a class="dropdown-item" href="{{url_for('addfamilia')}}">Add Família</a>
                                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('registrar')}}">Novo Administrador</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            
          </ul>
          
        </div>
      </nav>



    <table class="table table-sm table-striped">
        <thead>
            <th>Id</th>
            <th>Praça</th>
            <th>Nome popular</th>
            <th>Espécie</th>
            <th>família</th>
            <th>Quantidade</th>
            <th>Origem</th>
            <th></th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>

        <tbody>
            {% for arvore in arvores %}
            
            <tr>
                <td>{{loop.index}}</td>
                <td>{{arvore.praca.name}}</td>
            
                <td>{{arvore.arvore.name}}</td>
                <td>{{arvore.arvore.especie}}</td>
                <td>{{arvore.familia.name}}</td>
                <td>{{arvore.qtd}}</td>
                <td>{{arvore.origem}}</td>
                <td></td>
                <td><a href="{{url_for('updateaddarvore', id=arvore.id)}}" class="btn btn-sm btn-outline-warning">Editar</a></td>
                <td><a href="" class="btn btn-sm btn-outline-danger">Deletar</a></td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
</div>

{% endblock content %}
