{% extends 'layouts.html' %}

{% block content %}


<div class="text-center h1 text-success">Administrador</div>

<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
        <div>
            {{ render_field(form.name, class="form-control form-control-sm") }}
            {{ render_field(form.username, class="form-control form-control-sm") }}
            {{ render_field(form.email, class="form-control form-control-sm") }}
            {{ render_field(form.password, class="form-control form-control-sm") }}
            {{ render_field(form.confirm, class="form-control form-control-sm") }}
            <!--<input type="file" name="Foto">-->
            
        </div>
        <p><input type=submit value=Registrar class="btn btn-success mt-2"></p>
    </form>
</div>

{% endblock content %}