{% extends 'layouts2.html' %}

{% block content %}
<style>
  
    h4 {
        color: #0a630a
    }
    a:link, a:visited, a:active a:hover{
	text-decoration: none;
	}
  
  

</style>
<div class="container">
    <div class="col-lg-14">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e8eed6">
  <a class="navbar-brand" href="/"><img class="navbar-brand" src="{{url_for('static', filename='images/brasao.png')}}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione a praça
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for p in pracas %}
            <a class="dropdown-item" href="{{url_for('get_praca', id=p.id)}}">{{p.name}}</a>
               {% endfor %}
            
          </div>
        </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong>Exemplos de Imagens das espécies</strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <a class="dropdown-item" href="https://www.google.com/search?q=Persea+americana+Mill.&tbm=isch&ved=2ahUKEwiR-ezXhIz0AhX4NLkGHZXQBxQQ2-cCegQIABAA&oq=Persea+americana+Mill.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoECAAQHlCtBFitBGDRC2gAcAB4AIABZIgBxQGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=3M6KYZGbO_jp5OUPlaGfoAE&bih=623&biw=1366" target="_blank">Abacateiro | Persea americana Mill.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Malpighia+emarginata+DC.&tbm=isch&ved=2ahUKEwj7xabtg4z0AhX8BrkGHbCSBDYQ2-cCegQIABAA&oq=Malpighia+emarginata+DC.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1CrBVirBWDlD2gAcAB4AIABaIgBxgGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=_c2KYbvTH_yN5OUPsKWSsAM&bih=623&biw=1366" target="_blank">Aceroleira | Malpighia emarginata DC.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Ligustrum+lucidum+W.T.+Aiton&tbm=isch&ved=2ahUKEwiK69jbg4z0AhVsOLkGHR6bAZsQ2-cCegQIABAA&oq=Ligustrum+lucidum+W.T.+Aiton&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1DSBFjSBGCYDGgAcAB4AIABZ4gBzgGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=2M2KYYqfJOzw5OUPnraG2Ak&bih=623&biw=1366" target="_blank">Alfeneiro | Ligustrum lucidum W.T. Aiton</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Pterogyne+nitens+Tul&tbm=isch&ved=2ahUKEwjhv-66hYz0AhVyI7kGHS-WCUYQ2-cCegQIABAA&oq=Pterogyne+nitens+Tul&gs_lcp=CgNpbWcQDDIFCAAQgAQ6BwgjEO8DECc6BAgAEB46BggAEAgQHjoGCAAQBxAeUNQEWNQEYJkMaABwAHgAgAF1iAHfAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=rM-KYeG5JfLG5OUPr6ymsAQ&bih=623&biw=1366" target="_blank">Amendoim bravo | Pterogyne nitens Tul.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Morus+nigra+L.&tbm=isch&ved=2ahUKEwidxIKPhIz0AhUsFLkGHe9QCGUQ2-cCegQIABAA&oq=Morus+nigra+L.&gs_lcp=CgNpbWcQDDIECAAQHjIECAAQGDoHCCMQ7wMQJzoFCAAQgARQmgRYmgRgyAtoAHAAeACAAWuIAdIBkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=RM6KYZ2SDqyo5OUP76GhqAY&bih=623&biw=1366" target="_blank">Amoreira | Morus nigra L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Schinus+terebinthifolia+Raddi&tbm=isch&ved=2ahUKEwjPru_2hYz0AhUTB9QKHYpFDoMQ2-cCegQIABAA&oq=Schinus+terebinthifolia+Raddi&gs_lcp=CgNpbWcQDDIFCAAQgAQyBggAEAoQGDoHCCMQ7wMQJzoECAAQHjoGCAAQCBAeUKcUWKcUYOkeaABwAHgAgAFniAHOAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=KtCKYc_xG5OO0AaKi7mYCA&bih=623&biw=1366" target="_blank">Aroeira pimenteira | Schinus terebinthifolia Raddi</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Myrocarpus+frondosus+Allem%C3%A3o&tbm=isch&ved=2ahUKEwjMv4-ihIz0AhXoG7kGHQdrBtoQ2-cCegQIABAA&oq=Myrocarpus+frondosus+Allem%C3%A3o&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoECAAQHlCaBViaBWDJDmgAcAB4AIABlAGIAfcBkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=bM6KYczZEei35OUPh9aZ0A0&bih=623&biw=1366" target="_blank">Cabreúva | Myrocarpus frondosus Allemão</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Anacardium+occidentale+L.&tbm=isch&ved=2ahUKEwjB95CYkov0AhXnOLkGHShED7sQ2-cCegQIABAA&oq=Anacardium+occidentale+L.&gs_lcp=CgNpbWcQDDIECAAQHlAAWABg4BVoAHAAeACAAYwBiAGMAZIBAzAuMZgBAKoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=zVaKYYHdKufx5OUPqIi92As&bih=623&biw=1366" target="_blank">Cajueiro | Anacardium occidentale L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Muntingia+calabura+L.&tbm=isch&ved=2ahUKEwi9uMiXhIz0AhVQA7kGHagxD0oQ2-cCegQIABAA&oq=Muntingia+calabura+L.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJzoECAAQGFCVDFiVDGCuFGgAcAB4AIABcIgBzQGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Vs6KYb21CdCG5OUPqOO80AQ&bih=623&biw=1366" target="_blank">Calabura | Muntingia calabura L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Nectandra+megapotamica+Spreng.&tbm=isch&ved=2ahUKEwjppZW9hIz0AhXIN7kGHb9zDl4Q2-cCegQIABAA&oq=Nectandra+megapotamica+Spreng.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1CrBFirBGCZDGgAcAB4AIABY4gBvgGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=pc6KYak_yO_k5Q-_57nwBQ&bih=623&biw=1366" target="_blank">Canelinha | Nectandra megapotamica Spreng.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Copernicia+prunifera+Moore&tbm=isch&ved=2ahUKEwi89_K0n4v0AhUvALkGHZzTCjUQ2-cCegQIABAA&oq=Copernicia+prunifera+Moore&gs_lcp=CgNpbWcQDDoECAAQHlCCBViCBWDgDmgAcAB4AIABaIgByAGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=q2SKYfz1Ka-A5OUPnKerqAM&bih=623&biw=1366" target="_blank">Carnaúba | Copernicia prunifera Moore</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Cassia+sp.&tbm=isch&ved=2ahUKEwjUkoOZsJv0AhXghJUCHV3gCjIQ2-cCegQIABAA&oq=Cassia+sp.&gs_lcp=CgNpbWcQDDIECAAQHjIGCAAQCBAeMgQIABAYOgcIIxDvAxAnOgUIABCABDoGCAAQBxAeUMMGWMMGYMoTaABwAHgAgAGeAYgBggKSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=wNmSYdSyG-CJ1sQP3cCrkAM&bih=577&biw=1280" target="_blank">Cássia | Cassia sp.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=%7CSenna+siamea+Lam.&tbm=isch&ved=2ahUKEwiC28ybsJv0AhUduJUCHf64CfsQ2-cCegQIABAA&oq=%7CSenna+siamea+Lam.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHjoGCAAQCBAeOgQIABAYUPcDWPcDYNkKaABwAHgAgAGdAYgBmQKSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=xdmSYcLkM53w1sQP_vGm2A8&bih=577&biw=1280" target="_blank">Cássia de sião | Senna siamea Lam.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Cassia+grandis+L.+f.&tbm=isch&ved=2ahUKEwiT_bWIsZv0AhVhsJUCHTkyBjgQ2-cCegQIABAA&oq=Cassia+grandis+L.+f.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJzoGCAAQBxAeULQEWLQEYLkMaABwAHgAgAGXAogB9QKSAQUxLjAuMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=qtqSYZOABOHg1sQPueSYwAM" target="_blank">Cássia rosa | Cassia grandis L. f.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Terminalia+catappa+L.&tbm=isch&ved=2ahUKEwi_3sa0sJv0AhWIupUCHeV9AfMQ2-cCegQIABAA&oq=Terminalia+catappa+L.&gs_lcp=CgNpbWcQDDIECAAQHlDxB1jxB2CLEGgAcAB4AIABf4gB7AGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=-tmSYb_5Coj11sQP5fuFmA8" target="_blank">Chapéu de sol | Terminalia catappa L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Schefflera+actinophylla+Harms&tbm=isch&ved=2ahUKEwif6fy7sJv0AhWMvJUCHRqDD-0Q2-cCegQIABAA&oq=Schefflera+actinophylla+Harms&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIGCAAQCBAeOgQIABAeUK8EWK8EYOoKaABwAHgAgAGHAYgBjAKSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=CdqSYd_ALYz51sQPmoa-6A4" target="_blank">Cheflera | Schefflera actinophylla Harms</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Lafoensia+pacari+A.+St.-Hil.&tbm=isch&ved=2ahUKEwjwravEsJv0AhUGkZUCHSXVDesQ2-cCegQIABAA&oq=Lafoensia+pacari+A.+St.-Hil.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoGCAAQCBAeUJsFWJsFYIcPaABwAHgAgAGDAYgB8AGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=G9qSYbC0EYai1sQPpaq32A4" target="_blank">Dedaleiro | Lafoensia pacari A. St.-Hil.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Callistemon+viminalis+G.Don+ex+Loud&tbm=isch&ved=2ahUKEwjc89bPsJv0AhUmppUCHdL5BcQQ2-cCegQIABAA&oq=Callistemon+viminalis+G.Don+ex+Loud&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJ1CjBFijBGCCDWgAcAB4AIABngGIAaUCkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=M9qSYZyOBKbM1sQP0vOXoAw" target="_blank">Escova de garrafa | Callistemon viminalis G.Don ex Loud</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Spathodea+campanulata+P.+Beauv.&tbm=isch&ved=2ahUKEwiOl6TZsJv0AhVlhpUCHW1fCOMQ2-cCegQIABAA&oq=Spathodea+campanulata+P.+Beauv.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1CfB1ifB2CeEGgAcAB4AIABlAGIAfUBkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=R9qSYc7XDOWM1sQP7b6hmA4" target="_blank">Espatódea | Spathodea campanulata P. Beauv.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Corymbia+citriodora+(Hook.)+K.D.+Hill+%26+L.A.S.+Johnson&tbm=isch&ved=2ahUKEwjunuTjsJv0AhUaj5UCHQ3xDxcQ2-cCegQIABAA&oq=Corymbia+citriodora+(Hook.)+K.D.+Hill+%26+L.A.S.+Johnson&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHlCzBFizBGDhC2gAcAB4AIABhAGIAfIBkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=XdqSYa78DZqe1sQPjeK_uAE" target="_blank">Eucalipto cidró | Corymbia citriodora (Hook.) K.D. Hill & L.A.S. Johnson</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Schinus+molle+L.&tbm=isch&ved=2ahUKEwja5IzvsJv0AhUGupUCHQp1BPYQ2-cCegQIABAA&oq=Schinus+molle+L.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1CbB1ibB2C9D2gAcAB4AIABcYgB2QGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=dNqSYdraOob01sQPiuqRsA8" target="_blank">Falso chorão | Schinus molle L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Ficus+benjamina+L.&tbm=isch&ved=2ahUKEwi9_bH5sJv0AhVHlJUCHZCBCZAQ2-cCegQIABAA&oq=Ficus+benjamina+L.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHjIGCAAQBRAeUK8HWK8HYOAPaABwAHgAgAGDAYgB8wGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=itqSYb2QIceo1sQPkIOmgAk" target="_blank">Ficus |	Ficus benjamina L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Ficus+auriculata+Lour.&tbm=isch&ved=2ahUKEwimpuiksZv0AhVHq5UCHcUDBJ0Q2-cCegQIABAA&oq=Ficus+auriculata+Lour.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHlDFBFjFBGCcC2gAcAB4AIABtgGIAZMCkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=5dqSYeafJcfW1sQPxYeQ6Ak" target="_blank">Figueira de jardim | Ficus auriculata Lour.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Delonix+regia+Raf.&tbm=isch&ved=2ahUKEwjG49G6sZv0AhUipZUCHV83CZgQ2-cCegQIABAA&oq=Delonix+regia+Raf.&gs_lcp=CgNpbWcQDDIECAAQHjIGCAAQCBAeOgcIIxDvAxAnUJEEWJEEYMoKaABwAHgAgAGoAYgBqQKSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=E9uSYYaOF6LK1sQP3-6kwAk" target="_blank">Flamboyant | Delonix regia Raf.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Psidium+guajava+L.&tbm=isch&ved=2ahUKEwjW5PfTsZv0AhU2sJUCHWcEB2sQ2-cCegQIABAA&oq=Psidium+guajava+L.&gs_lcp=CgNpbWcQDDIECAAQHjIGCAAQBRAeOgcIIxDvAxAnOgYIABAIEB5QswVYswVgnwxoAHAAeACAAYIBiAHlAZIBAzEuMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=SNuSYdagGrbg1sQP54ic2AY" target="_blank">Goiabeira | Psidium guajava L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Schizolobium+parahyba+(Vell.)+Blake&tbm=isch&ved=2ahUKEwio3YzcsZv0AhUhgpUCHZQyDZ0Q2-cCegQIABAA&oq=Schizolobium+parahyba+(Vell.)+Blake&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHjoGCAAQBxAeUJ4PWJ4PYLgWaABwAHgAgAGJAYgB9QGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=WduSYejMIaGE1sQPlOW06Ak" target="_blank">Guapuruvu | Schizolobium parahyba (Vell.) Blake</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Inga+edulis+Mart.&tbm=isch&ved=2ahUKEwjKpbPlsZv0AhWuq5UCHZWtAEkQ2-cCegQIABAA&oq=Inga+edulis+Mart.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHlDlCFjlCGDKD2gAcAB4AIABlgGIAaYCkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=bduSYYq7A67X1sQPlduCyAQ" target="_blank">Ingá cipó | Inga edulis Mart.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Artocarpus+heterophylus+Lam.&tbm=isch&ved=2ahUKEwj8_8HwsZv0AhVlvJUCHVy4AN8Q2-cCegQIABAA&oq=Artocarpus+heterophylus+Lam.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHlClCFilCGDwEGgAcAB4AIABjgGIAZUCkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=hNuSYfytFuX41sQP3PCC-A0" target="_blank">Jaqueira | Artocarpus heterophylus Lam.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Plumeria+rubra+L.&tbm=isch&ved=2ahUKEwjXqtj4sZv0AhU7tJUCHWAqBOkQ2-cCegQIABAA&oq=Plumeria+rubra+L.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1CCB1iCB2C_D2gAcAB4AIABdYgB5wGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=lduSYZeMH7vo1sQP4NSQyA4" target="_blank">Jasmin manga | Plumeria rubra L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Hymenaea+courbaril+L.&tbm=isch&ved=2ahUKEwiS8b2Aspv0AhWTrZUCHTx3DfUQ2-cCegQIABAA&oq=Hymenaea+courbaril+L.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHlDDBFjDBGCYC2gAcAB4AIABqwGIAa8CkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=pduSYdKKNJPb1sQPvO61qA8" target="_blank">Jatobá | Hymenaea courbaril L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Cariniana+legalis+Mart.&tbm=isch&ved=2ahUKEwi258OLspv0AhWwrJUCHclWBK4Q2-cCegQIABAA&oq=Cariniana+legalis+Mart.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHlCDCliDCmC5EGgAcAB4AIABigGIAYoCkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=vduSYfaUAbDZ1sQPya2R8Ao" target="_blank">Jequitibá rosa | Cariniana legalis Mart.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Leucaena+leucocephala+Lam.&tbm=isch&ved=2ahUKEwjK25CSspv0AhWZuJUCHWO4CCgQ2-cCegQIABAA&oq=Leucaena+leucocephala+Lam.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHjIECAAQHlDXBljXBmCsD2gAcAB4AIABlwGIAf8BkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=ytuSYcrONJnx1sQP4_CiwAI" target="_blank">Leucena | Leucaena leucocephala Lam.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Magnolia+champaca+L.&tbm=isch&ved=2ahUKEwjji4mespv0AhVirJUCHeByDOYQ2-cCegQIABAA&oq=Magnolia+champaca+L.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHlDrA1jrA2CLC2gAcAB4AIABZ4gBzQGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=49uSYaOON-LY1sQP4OWxsA4" target="_blank">Magnólia | Magnolia champaca L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Mangifera+indica+L.&tbm=isch&ved=2ahUKEwjEsu-kspv0AhWypZUCHZqhCPQQ2-cCegQIABAA&oq=Mangifera+indica+L.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHjIGCAAQBRAeUNsEWNsEYPgLaABwAHgAgAGFAYgB6wGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=8tuSYcTxCbLL1sQPmsOioA8" target="_blank">Mangueira | Mangifera indica L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Licania+kunthiana+Hook.+f.&tbm=isch&ved=2ahUKEwiRioKuspv0AhWaR7gEHaHECbAQ2-cCegQIABAA&oq=Licania+kunthiana+Hook.+f.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHjoGCAAQBxAeUNgEWNgEYL8LaABwAHgAgAF6iAHzAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=BdySYdHzFJqP4dUPoYmngAs" target="_blank">Marinheiro | Licania kunthiana Hook. f.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Pachira+aquatica+Aubl.&tbm=isch&ved=2ahUKEwiB3f26spv0AhWmlJUCHfjIBgUQ2-cCegQIABAA&oq=Pachira+aquatica+Aubl.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHlDNBFjNBGDJEGgAcAB4AIABkwGIAYoCkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=INySYYHNIKap1sQP-JGbKA" target="_blank">Monguba | Pachira aquatica Aubl.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Erythrina+speciosa+Andrews&tbm=isch&ved=2ahUKEwjvxfXCspv0AhW-spUCHRuuD0sQ2-cCegQIABAA&oq=Erythrina+speciosa+Andrews&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHlD0A1j0A2DXDmgAcAB4AIABZ4gBxQGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=MdySYa_pCr7l1sQPm9y-2AQ" target="_blank">Mulungu do litoral | Erythrina speciosa Andrews</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Olea+europaea+L.&tbm=isch&ved=2ahUKEwiuuufUspv0AhWajJUCHZeoAK4Q2-cCegQIABAA&oq=Olea+europaea+L.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHjIGCAAQCBAeUJkEWJkEYKALaABwAHgAgAGYAYgBhwKSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=VtySYa63KpqZ1sQPl9GC8Ao" target="_blank">Oliveira | Olea europaea L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Ceiba+speciosa+(A.+St.-Hil.)+Ravenna&tbm=isch&ved=2ahUKEwjZ1N3gspv0AhXNjZUCHf-5D34Q2-cCegQIABAA&oq=Ceiba+speciosa+(A.+St.-Hil.)+Ravenna&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJzoGCAAQCBAeUM0EWM0EYPAMaABwAHgAgAGMAYgB7QGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=b9ySYZnhKs2b1sQP__O-8Ac" target="_blank">Paineira rosa | Ceiba speciosa (A. St.-Hil.) Ravenna</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Roystonea+oleracea+L.H.+Bailey&tbm=isch&ved=2ahUKEwio4K_tspv0AhWMgpUCHUHjCCcQ2-cCegQIABAA&oq=Roystonea+oleracea+L.H.+Bailey&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHlDkBFjkBGDaDWgAcAB4AIABnQGIAa8CkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=itySYajzDIyF1sQPwcajuAI" target="_blank">Palmeira imperial | Roystonea oleracea L.H. Bailey</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Licuala+grandisH.+Wendl.+ex+Linden&tbm=isch&ved=2ahUKEwid6f31spv0AhVOupUCHV5SDQ8Q2-cCegQIABAA&oq=Licuala+grandisH.+Wendl.+ex+Linden&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJ1Cp1gFYqdYBYN7eAWgAcAB4AIABkAGIAfICkgEDMS4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=nNySYZ2rEM701sQP3qS1eA" target="_blank">Palmeira leque | Licuala grandisH. Wendl. ex Linden</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Euterpe+edulis+Mart.&tbm=isch&ved=2ahUKEwjG0vSJs5v0AhWmlJUCHfjIBgUQ2-cCegQIABAA&oq=Euterpe+edulis+Mart.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1CorQFYqK0BYP21AWgBcAB4AIABgwGIAcsCkgEDMS4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=xtySYcbXA6ap1sQP-JGbKA" target="_blank">Palmito juçara | Euterpe edulis Mart.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Bauhinia+forficata+Link&tbm=isch&ved=2ahUKEwi5kfCWs5v0AhUps5UCHQMMBmoQ2-cCegQIABAA&oq=Bauhinia+forficata+Link&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQGDoECAAQHlClBFilBGDYC2gAcAB4AIABlQGIAZ8CkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=4dySYfmcD6nm1sQPg5iY0AY" target="_blank">Pata de vaca | Bauhinia forficata Link</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Caesalpinia+echinata+Lam.&tbm=isch&ved=2ahUKEwiQ7dues5v0AhVlhpUCHW1fCOMQ2-cCegQIABAA&oq=Caesalpinia+echinata+Lam.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHjoECAAQGFCoBFioBGCPDmgAcAB4AIABZogBygGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=8dySYdCwKuWM1sQP7b6hmA4" target="_blank">Pau Brasil | Caesalpinia echinata Lam.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Sapium+sebiferum+(L.)+Roxb.&tbm=isch&ved=2ahUKEwir8Paps5v0AhXVQ7gEHZWaBSIQ2-cCegQIABAA&oq=Sapium+sebiferum+(L.)+Roxb.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHlDxA1jxA2C7C2gAcAB4AIABiwGIAfMBkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=Cd2SYevHDNWH4dUPlbWWkAI" target="_blank">Pau de sebo | Sapium sebiferum (L.) Roxb.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Caesalpinia+leiostachya+Ducke&tbm=isch&ved=2ahUKEwiFy8-0s5v0AhVgpJUCHdOFDdoQ2-cCegQIABAA&oq=Caesalpinia+leiostachya+Ducke&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJ1CVCliVCmCAEmgAcAB4AIABnAGIAf8BkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=H92SYcW_JuDI1sQP04u20A0" target="_blank">Pau ferro | Caesalpinia leiostachya Ducke</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Tapirira+guianensis+Aubl.&tbm=isch&ved=2ahUKEwi7m_3As5v0AhWRs5UCHQ0MCJ4Q2-cCegQIABAA&oq=Tapirira+guianensis+Aubl.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1CcBFicBGDYCmgAcAB4AIABcYgB2wGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Od2SYfuaIZHn1sQPjZig8Ak" target="_blank">Peito de pombo | Tapirira guianensis Aubl.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Aspidosperma+polyneuron+M%C3%BCll.+Arg.&tbm=isch&ved=2ahUKEwjG8vTIs5v0AhVLm5UCHfd9D64Q2-cCegQIABAA&oq=Aspidosperma+polyneuron+M%C3%BCll.+Arg.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJ1CWBFiWBGCHC2gAcAB4AIABeIgB1gGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=St2SYcalC8u21sQP9_u98Ao" target="_blank">Peroba	| Aspidosperma polyneuron Müll. Arg.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Bougainvillea+glabra+Choisy&tbm=isch&ved=2ahUKEwiioYXRs5v0AhXNuJUCHXiOBdUQ2-cCegQIABAA&oq=Bougainvillea+glabra+Choisy&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHjIGCAAQBRAeUKsEWKsEYJIJaABwAHgAgAGDAYgB3gGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=W92SYeKHDs3x1sQP-JyWqA0" target="_blank">Primavera | Bougainvillea glabra Choisy</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Tibouchina+granulosa+(Desr.)+Cogn.&tbm=isch&ved=2ahUKEwjsi4HZs5v0AhUhp5UCHSugB4YQ2-cCegQIABAA&oq=Tibouchina+granulosa+(Desr.)+Cogn.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoGCAAQBxAeOgQIABAeUJ8IWJ8IYNEPaABwAHgAgAGLAYgB9gGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=a92SYayqOaHO1sQPq8CesAg" target="_blank">Quaresmeira | Tibouchina granulosa (Desr.) Cogn.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Lagerstroemia+indica+L.&tbm=isch&ved=2ahUKEwjBv7zfs5v0AhX5jZUCHfktDcMQ2-cCegQIABAA&oq=Lagerstroemia+indica+L.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHlCDB1iDB2DgDWgAcAB4AIABfYgB5AGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=ed2SYYGfHvmb1sQP-du0mAw" target="_blank">Resedá|Lagerstroemia indica L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Caesalpinia+pluviosa+DC.&tbm=isch&ved=2ahUKEwiD7pzns5v0AhWrlJUCHQSbA1IQ2-cCegQIABAA&oq=Caesalpinia+pluviosa+DC.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzoECAAQHjoGCAAQCBAeUI8TWI8TYJgbaABwAHgAgAGuAYgBsAKSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=id2SYcOFLqup1sQPhLaOkAU" target="_blank">Sibipiruna | Caesalpinia pluviosa DC.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Tabebuia+alba&tbm=isch&ved=2ahUKEwi9qPLws5v0AhVfrpUCHYu8CqkQ2-cCegQIABAA&oq=Tabebuia+alba&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIFCAAQgAQyBggAEAgQHjIGCAAQCBAeUL8EWL8EYMULaABwAHgAgAF5iAHhAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=nt2SYb3hAd_c1sQPi_mqyAo" target="_blank">Ypê amarelo | Tabebuia alba</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Tecoma+stans+(L.)+Juss.+ex+Kunth&tbm=isch&ved=2ahUKEwjFsbKAtJv0AhUetpUCHZ6wCqYQ2-cCegQIABAA&oq=Tecoma+stans+(L.)+Juss.+ex+Kunth&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoFCAAQgAQ6BggAEAgQHlDRBFjRBGCaC2gAcAB4AIABkAGIAfIBkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=vt2SYcXaIJ7s1sQPnuGqsAo" target="_blank">Ypê mirim | Tecoma stans (L.) Juss. ex Kunth</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Tabebuia+rosea&tbm=isch&ved=2ahUKEwjdttyGtJv0AhVluZUCHSCnB9kQ2-cCegQIABAA&oq=Tabebuia+rosea&gs_lcp=CgNpbWcQDDILCAAQgAQQsQMQgwEyBQgAEIAEMgQIABAeMgQIABAeMgQIABAeMgQIABAeMgQIABAeMgQIABAeMgQIABAeMgQIABAeOgcIIxDvAxAnUI0OWI0OYLgVaABwAHgAgAGTAYgBowKSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=y92SYZ2lMeXy1sQPoM6eyA0" target="_blank">Ypê rosa|Tabebuia rosea</a>
              
            </div>
            </li>
          </ul>
        
          <form class="form-inline my-2 my-lg-0" method="POST">
          <input class="form-control mr-sm-2" type="search" placeholder="Nome popular" autofocus="autofocus" name="search_string">
          <input class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/search" value="Pesquisar">
       
      
    </form>
      </div>
      
      
    </div>
    
  </nav>
</div>
<div class="container">
  {% for im in get_image %}
    <div class="row">
     
    <div class="col-md-5">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{url_for('static', filename='images/'+ im.image_1)}}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{url_for('static', filename='images/'+ im.image_2)}}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{url_for('static', filename='images/'+ im.image_3)}}" alt="Third slide">
          </div>
             
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/asiviogov1.jpg')}}" alt="Third slide">
        </div>

        </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <div style="overflow:auto;">
        {% endfor %}
        {% for p in get_npraca %}
        <p></p>
        <p></p>
        <p></p>
        <p style="text-align: justify;">{{p.desc }} </p>
        <p>                                                                              <p style="text-align: justify;">Monte Alto foi construída exatamente sobre o divisor de águas entre a bacia hidrográfica do Mogi Guaçu e a bacia hidrográfica do Turvo-Grande. A altitude média é de 735m, entretanto, alguns pontos ultrapassam os 800m. Possui o clima tropical de altitude, que se evidencia acima dos 600m e se caracteriza por apresentar verões chuvosos e quentes e invernos secos e frios, em que geadas e temperaturas muito próximas do ponto de congelamento não são incomuns. </p>
        <p>Fonte: Wikipédia</p>

                                                                                                                                                                     </p>
        <p></p>
  
  </div>     
        <p></p>
        
  
        

        
  </div>
      
    <div class="col-md-7">
        
      
          <h4 class="text-center"> {{p.name}}</h4>      
          <h5 class="text-center"> {{p.end}}</h5>

          
          {% endfor %}

            <div class="col-md-14" >
              <table class="table table-sm table-striped">
                <thead>
                    <th>Nome popular</th>
                    <th>Praça</th>
                    <th>Espécie</th>
                    <th>Qtd.</th>
                    <th>Origem</th>
                    <th></th>
                 </thead>
        
                <tbody>
                    {% for arvore in arvores %}
                    
                    <tr>
                        <td>{{arvore.name}}</td>
                        <td>{{arvore.praca}}</td>
                        <td>{{arvore.especie}}</td>
                        <td>{{arvore.qtd}}</td>
                        <td>{{arvore.origem}}</td>
                        <td></td>                      
                    </div>
                </div>
                    {% endfor %}
      </div>
                </div>
        </div>
    </div>
        
      </div>  
     
        
    </div>
   
</div>

</div>
    
</div>

</div>
</div>
  



{% endblock content %}