{% extends 'layouts2.html' %}

{% block content %}
<style>
  
    h4 {
        color: #0a630a
    }
    a:link, a:visited, a:active a:hover{
	text-decoration: none;
	}
  
  

</style>
<div class="container">
    <div class="col-sm">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e8eed6">
  <a class="navbar-brand" href="/"><img class="navbar-brand" src="{{url_for('static', filename='images/brasao.png')}}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione a praça
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for p in pracas %}
            <a class="dropdown-item" href="{{url_for('get_praca', id=p.id)}}">{{p.name}}</a>
               {% endfor %}
            
          </div>
        </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong>Imagens das espécies</strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <a class="dropdown-item" href="https://www.google.com/search?q=Anacardium+occidentale+L.&tbm=isch&ved=2ahUKEwjB95CYkov0AhXnOLkGHShED7sQ2-cCegQIABAA&oq=Anacardium+occidentale+L.&gs_lcp=CgNpbWcQDDIECAAQHlAAWABg4BVoAHAAeACAAYwBiAGMAZIBAzAuMZgBAKoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=zVaKYYHdKufx5OUPqIi92As&bih=623&biw=1366" target="_blank">Anacardium occidentale L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Artocarpus+heterophylus+Lam.&tbm=isch&ved=2ahUKEwivofrkmIv0AhVBLbkGHWiXArkQ2-cCegQIABAA&oq=Artocarpus+heterophylus+Lam.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoECAAQHlD6CFj6CGCoHmgAcAB4AIABYogBvQGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=uV2KYe_gGcHa5OUP6K6KyAs&bih=623&biw=1366" target="_blank">Artocarpus heterophylus Lam.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Aspidosperma+polyneuron+M%C3%BCll.+Arg.&tbm=isch&ved=2ahUKEwjyyaT0mIv0AhWwM7kGHdEQAR8Q2-cCegQIABAA&oq=Aspidosperma+polyneuron+M%C3%BCll.+Arg.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1C_Bli_BmCvE2gAcAB4AIAB0AGIAboCkgEFMC4xLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=2V2KYbL5IrDn5OUP0aGE-AE&bih=623&biw=1366" target="_blank">Aspidosperma polyneuron Müll. Arg.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Bauhinia+forficata+Link&tbm=isch&ved=2ahUKEwiJkbH6mYv0AhVCCtQKHS41CwkQ2-cCegQIABAA&oq=Bauhinia+forficata+Link&gs_lcp=CgNpbWcQDDIFCAAQgAQyBAgAEBg6BAgAEB5QjgdYjgdg_BJoAHAAeACAAZABiAH3AZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=8l6KYYnQMMKU0Aau6qxI&bih=623&biw=1366" target="_blank">Bauhinia forficata Link</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Bougainvillea+glabra+Choisy&tbm=isch&ved=2ahUKEwja8qSknov0AhXDMrkGHYdrAbcQ2-cCegQIABAA&oq=Bougainvillea+glabra+Choisy&gs_lcp=CgNpbWcQDDIFCAAQgAQyBAgAEB4yBggAEAUQHjoHCCMQ7wMQJzoECAAQGFCJB1iJB2CyIGgAcAB4AIABbIgBzwGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=fGOKYdrEGcPl5OUPh9eFuAs&bih=623&biw=1366" target="_blank">Bougainvillea glabra Choisy</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Caesalpinia+echinata+Lam.&tbm=isch&ved=2ahUKEwitsMSunov0AhXHBLkGHb7_DakQ2-cCegQIABAA&oq=Caesalpinia+echinata+Lam.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJzoGCAAQBxAeUO4GWO4GYKMSaABwAHgAgAFjiAHGAZIBATKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=kWOKYe2jN8eJ5OUPvv-3yAo&bih=623&biw=1366" target="_blank">Caesalpinia echinata Lam.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Caesalpinia+leiostachya+Ducke&tbm=isch&ved=2ahUKEwicpOW7nov0AhVDOLkGHVbkClYQ2-cCegQIABAA&oq=Caesalpinia+leiostachya+Ducke&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoECAAQHlD8vwVY_L8FYNvNBWgBcAB4AIABeIgBqgKSAQMyLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=rWOKYdyZK8Pw5OUP1sirsAU&bih=623&biw=1366" target="_blank">Caesalpinia leiostachya Ducke</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Caesalpinia+pluviosa+DC.&tbm=isch&ved=2ahUKEwih383onov0AhXiAdQKHfnGDfgQ2-cCegQIABAA&oq=Caesalpinia+pluviosa+DC.&gs_lcp=CgNpbWcQDFDgBFjgBGDbEWgAcAB4AIABXogBugGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=C2SKYeGtKuKD0Ab5jbfADw&bih=623&biw=1366" target="_blank">Caesalpinia pluviosa DC.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Callistemon+viminalis+G.Don+ex+Loud&tbm=isch&ved=2ahUKEwiQ2qGGn4v0AhXJAbkGHRZHB7wQ2-cCegQIABAA&oq=Callistemon+viminalis+G.Don+ex+Loud&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1AAWABgmFZoAXAAeACAAWmIAc0BkgEDMC4ymAEAqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=SWSKYdCRNsmD5OUPlo6d4As&bih=623&biw=1366" target="_blank">Callistemon viminalis G.Don ex Loud</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Cariniana+legalis+Mart.&tbm=isch&ved=2ahUKEwiH9pqPn4v0AhXKBrkGHYDmCP4Q2-cCegQIABAA&oq=Cariniana+legalis+Mart.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1DKxAFYysQBYILPAWgAcAB4AIABZogBkgKSAQMyLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=XGSKYYfYJ8qN5OUPgM2j8A8&bih=623&biw=1366" target="_blank">Cariniana legalis Mart.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Cassia+grandis+L.+f&tbm=isch&ved=2ahUKEwj3rricn4v0AhXVN7kGHdk5A4MQ2-cCegQIABAA&oq=Cassia+grandis+L.+f&gs_lcp=CgNpbWcQDDIECAAQHlDPB1jPB2CvE2gAcAB4AIABaogB1AGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=eGSKYfeSGNXv5OUP2fOMmAg&bih=623&biw=1366" target="_blank">Cassia grandis L. f.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Ceiba+speciosa+A.+St.-Hil&tbm=isch&ved=2ahUKEwjSg9ypn4v0AhWkDtQKHf2KB2kQ2-cCegQIABAA&oq=Ceiba+speciosa+A.+St.-Hil&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHlCHCFiHCGCoE2gAcAB4AIABaYgByAGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=lGSKYdLpDqSd0Ab9lZ7IBg&bih=623&biw=1366" target="_blank">Ceiba speciosa A. St.-Hil.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Copernicia+prunifera+Moore&tbm=isch&ved=2ahUKEwi89_K0n4v0AhUvALkGHZzTCjUQ2-cCegQIABAA&oq=Copernicia+prunifera+Moore&gs_lcp=CgNpbWcQDDoECAAQHlCCBViCBWDgDmgAcAB4AIABaIgByAGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=q2SKYfz1Ka-A5OUPnKerqAM&bih=623&biw=1366" target="_blank">Copernicia prunifera Moore</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Corymbia+citriodora+(Hook.)+K.D.+Hill+%26+L.A.S.+Johnson&tbm=isch&ved=2ahUKEwja4MvCn4v0AhXiNrkGHf4ZBOwQ2-cCegQIABAA&oq=Corymbia+citriodora+(Hook.)+K.D.+Hill+%26+L.A.S.+Johnson&gs_lcp=CgNpbWcQDFCSBliSBmDIEGgAcAB4AIABYYgBwQGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=yGSKYdrcGOLt5OUP_rOQ4A4&bih=623&biw=1366" target="_blank">Corymbia citriodora (Hook.) K.D. Hill & L.A.S. Johnson</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Delonix+regia+Raf&tbm=isch&ved=2ahUKEwiTidjtn4v0AhWNLLkGHfCpD1wQ2-cCegQIABAA&oq=Delonix+regia+Raf&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJzIECAAQHjIGCAAQCBAeUKsIWKsIYNQUaABwAHgAgAFgiAG3AZIBATKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=ImWKYZPwL43Z5OUP8NO-4AU&bih=623&biw=1366" target="_blank">Delonix regia Raf.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Erythrina+speciosa+Andrews&tbm=isch&ved=2ahUKEwiSzt76n4v0AhWMNLkGHQt3BBEQ2-cCegQIABAA&oq=Erythrina+speciosa+Andrews&gs_lcp=CgNpbWcQDDIFCAAQgAQ6BwgjEO8DECc6BAgAEB46BggAEAgQHlDIB1jIB2CiF2gAcAB4AIABY4gBxQGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=PmWKYZK3CYzp5OUPi-6RiAE&bih=623&biw=1366" target="_blank">Erythrina speciosa Andrews</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Euterpe+edulis+Mart&tbm=isch&ved=2ahUKEwig-YuNoIv0AhWKILkGHcA_A-0Q2-cCegQIABAA&oq=Euterpe+edulis+Mart&gs_lcp=CgNpbWcQDDIFCAAQgARQxAtYxAtgrhJoAHAAeACAAWeIAcABkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=ZGWKYaC3J4rB5OUPwP-M6A4&bih=623&biw=1366" target="_blank">Euterpe edulis Mart.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Ficus+auriculata+Lour.&tbm=isch&ved=2ahUKEwixq430oIv0AhUpNLkGHTp0BgsQ2-cCegQIABAA&oq=Ficus+auriculata+Lour.&gs_lcp=CgNpbWcQDDoFCAAQgARQywRYywRgwg9oAHAAeACAAWqIAcQBkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=PGaKYbGdKano5OUPuuiZWA&bih=623&biw=1366" target="_blank">Ficus auriculata Lour.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Ficus+benjamina+L.&tbm=isch&ved=2ahUKEwiIycz8oIv0AhXMNrkGHeYqD0AQ2-cCegQIABAA&oq=Ficus+benjamina+L.&gs_lcp=CgNpbWcQDDIECAAQHjIGCAAQBRAeUMsEWMsEYPILaABwAHgAgAFjiAHDAZIBATKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=TmaKYYjqHczt5OUP5tW8gAQ&bih=623&biw=1366" target="_blank">Ficus benjamina L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Grevillea+banksii+R.+Br.&tbm=isch&ved=2ahUKEwiEzPCGoYv0AhXZK7kGHUSQD7oQ2-cCegQIABAA&oq=Grevillea+banksii+R.+Br.&gs_lcp=CgNpbWcQDDIECAAQHjoGCAAQBxAeUKUIWKUIYJARaABwAHgAgAFqiAHNAZIBAzEuMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=ZGaKYYSKA9nX5OUPxKC-0As&bih=623&biw=1366" target="_blank">Grevillea banksii R. Br.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Grevillea+robusta+A.+Cunn.+ex+R.+Br.&tbm=isch&ved=2ahUKEwiU2-6ToYv0AhWMNLkGHQt3BBEQ2-cCegQIABAA&oq=Grevillea+robusta+A.+Cunn.+ex+R.+Br.&gs_lcp=CgNpbWcQDDoECAAQHlCOC1iOC2DIGmgAcAB4AIABYogBvwGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=f2aKYdSfEYzp5OUPi-6RiAE&bih=623&biw=1366" target="_blank">Grevillea robusta A. Cunn. ex R. Br.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Hovenia+dulcis+Thunb.&tbm=isch&ved=2ahUKEwjJsZ6Gg4z0AhX_MLkGHVUGD9IQ2-cCegQIABAA&oq=Hovenia+dulcis+Thunb.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJzoFCAAQgAQ6BggAEAcQHjoECAAQGFCQBliQBmDbEmgAcAB4AIABaogB0gGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Jc2KYYmLF__h5OUP1Yy8kA0&bih=623&biw=1366" target="_blank">Hovenia dulcis Thunb.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Hymenaea+courbaril+L.&tbm=isch&ved=2ahUKEwjkxo2Mg4z0AhU1N7kGHUZdDFkQ2-cCegQIABAA&oq=Hymenaea+courbaril+L.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1DHBFjHBGDYDGgAcAB4AIABZ4gBzgGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Mc2KYaTqKbXu5OUPxrqxyAU&bih=623&biw=1366" target="_blank">Hymenaea courbaril L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Inga+edulis+Mart.&tbm=isch&ved=2ahUKEwjhmvyVg4z0AhWVNbkGHTqrDE0Q2-cCegQIABAA&oq=Inga+edulis+Mart.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1CfBFifBGDpDWgAcAB4AIABaYgBzAGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Rs2KYeHfFpXr5OUPutay6AQ&bih=623&biw=1366" target="_blank">Inga edulis Mart.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Lafoensia+pacari+A.+St.-Hil.&tbm=isch&ved=2ahUKEwjc7Kueg4z0AhXfM7kGHYGTAaIQ2-cCegQIABAA&oq=Lafoensia+pacari+A.+St.-Hil.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoECAAQHlC8BFi8BGDODmgAcAB4AIABbIgB1AGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=V82KYZzlON_n5OUPgaeGkAo&bih=623&biw=1366" target="_blank">Lafoensia pacari A. St.-Hil.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Lagerstroemia+indica+L.&tbm=isch&ved=2ahUKEwid99ing4z0AhVrM7kGHZCBCVwQ2-cCegQIABAA&oq=Lagerstroemia+indica+L.&gs_lcp=CgNpbWcQDDIECAAQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjoHCCMQ7wMQJ1DbBljbBmCXE2gAcAB4AIABaogBzgGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=a82KYd2VIevm5OUPkIOm4AU&bih=623&biw=1366" target="_blank">Lagerstroemia indica L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Leucaena+leucocephala+Lam.&tbm=isch&ved=2ahUKEwiVsdCwg4z0AhWfB7kGHQa9CaQQ2-cCegQIABAA&oq=Leucaena+leucocephala+Lam.&gs_lcp=CgNpbWcQDDIECAAQHjIECAAQHjoHCCMQ7wMQJzoGCAAQCBAeUMYIWMYIYMAQaABwAHgAgAFmiAHLAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=fs2KYZX6EJ-P5OUPhvqmoAo&bih=623&biw=1366" target="_blank">Leucaena leucocephala Lam.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Licania+kunthiana+Hook.+f.&tbm=isch&ved=2ahUKEwjlleO6g4z0AhULOLkGHS1SC2YQ2-cCegQIABAA&oq=Licania+kunthiana+Hook.+f.&gs_lcp=CgNpbWcQAzoHCCMQ7wMQJzoECAAQHlDTCFjTCGDlD2gAcAB4AIABY4gBxQGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=k82KYaWAIovw5OUPraStsAY&bih=623&biw=1366" target="_blank">Licania kunthiana Hook. f.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Licania+tomentosa+(Benth.)+Fritsch&tbm=isch&ved=2ahUKEwju57bIg4z0AhW-DrkGHZhTDJ0Q2-cCegQIABAA&oq=Licania+tomentosa+(Benth.)+Fritsch&gs_lcp=CgNpbWcQDDIFCAAQgAQ6BwgjEO8DECdQngtYngtg6RZoAHAAeACAAWqIAdABkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=sM2KYe7PC76d5OUPmKex6Ak&bih=623&biw=1366" target="_blank">Licania tomentosa (Benth.) Fritsch</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Licuala+grandisH.+Wendl.+ex+Linden&tbm=isch&ved=2ahUKEwjyitLSg4z0AhVUNbkGHdlQC0EQ2-cCegQIABAA&oq=Licuala+grandisH.+Wendl.+ex+Linden&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1DaBVjaBWDwDWgAcAB4AIABaIgBzwGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=xc2KYbKUJdTq5OUP2aGtiAQ&bih=623&biw=1366" target="_blank">Licuala grandisH. Wendl. ex Linden</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Ligustrum+lucidum+W.T.+Aiton&tbm=isch&ved=2ahUKEwiK69jbg4z0AhVsOLkGHR6bAZsQ2-cCegQIABAA&oq=Ligustrum+lucidum+W.T.+Aiton&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1DSBFjSBGCYDGgAcAB4AIABZ4gBzgGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=2M2KYYqfJOzw5OUPnraG2Ak&bih=623&biw=1366" target="_blank">Ligustrum lucidum W.T. Aiton</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Magnolia+champaca+L.&tbm=isch&ved=2ahUKEwjKnOvjg4z0AhX1N7kGHTl6ADIQ2-cCegQIABAA&oq=Magnolia+champaca+L.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoECAAQHlCoBVioBWCXDWgAcAB4AIABcogB1QGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=6c2KYYqEKfXv5OUPufSBkAM&bih=623&biw=1366" target="_blank">Magnolia champaca L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Malpighia+emarginata+DC.&tbm=isch&ved=2ahUKEwj7xabtg4z0AhX8BrkGHbCSBDYQ2-cCegQIABAA&oq=Malpighia+emarginata+DC.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1CrBVirBWDlD2gAcAB4AIABaIgBxgGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=_c2KYbvTH_yN5OUPsKWSsAM&bih=623&biw=1366" target="_blank">Malpighia emarginata DC.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Mangifera+indica+L.&tbm=isch&ved=2ahUKEwiEyp76g4z0AhVlBrkGHY_TBVcQ2-cCegQIABAA&oq=Mangifera+indica+L.&gs_lcp=CgNpbWcQDDIECAAQHjIGCAAQBRAeOgcIIxDvAxAnUPwHWPwHYPUOaABwAHgAgAFriAHUAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=GM6KYYTeJ-WM5OUPj6eXuAU&bih=623&biw=1366" target="_blank">Mangifera indica L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Morus+nigra+L.&tbm=isch&ved=2ahUKEwidxIKPhIz0AhUsFLkGHe9QCGUQ2-cCegQIABAA&oq=Morus+nigra+L.&gs_lcp=CgNpbWcQDDIECAAQHjIECAAQGDoHCCMQ7wMQJzoFCAAQgARQmgRYmgRgyAtoAHAAeACAAWuIAdIBkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=RM6KYZ2SDqyo5OUP76GhqAY&bih=623&biw=1366" target="_blank">Morus nigra L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Muntingia+calabura+L.&tbm=isch&ved=2ahUKEwi9uMiXhIz0AhVQA7kGHagxD0oQ2-cCegQIABAA&oq=Muntingia+calabura+L.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJzoECAAQGFCVDFiVDGCuFGgAcAB4AIABcIgBzQGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Vs6KYb21CdCG5OUPqOO80AQ&bih=623&biw=1366" target="_blank">Muntingia calabura L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Myrocarpus+frondosus+Allem%C3%A3o&tbm=isch&ved=2ahUKEwjMv4-ihIz0AhXoG7kGHQdrBtoQ2-cCegQIABAA&oq=Myrocarpus+frondosus+Allem%C3%A3o&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoECAAQHlCaBViaBWDJDmgAcAB4AIABlAGIAfcBkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=bM6KYczZEei35OUPh9aZ0A0&bih=623&biw=1366" target="_blank">Myrocarpus frondosus Allemão</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Nectandra+megapotamica+Spreng.&tbm=isch&ved=2ahUKEwjppZW9hIz0AhXIN7kGHb9zDl4Q2-cCegQIABAA&oq=Nectandra+megapotamica+Spreng.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1CrBFirBGCZDGgAcAB4AIABY4gBvgGSAQEymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=pc6KYak_yO_k5Q-_57nwBQ&bih=623&biw=1366" target="_blank">Nectandra megapotamica Spreng.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Olea+europaea+L.&tbm=isch&ved=2ahUKEwik773EhIz0AhXoOLkGHY-CCmoQ2-cCegQIABAA&oq=Olea+europaea+L.&gs_lcp=CgNpbWcQDDIECAAQHjIGCAAQCBAeOgcIIxDvAxAnUPcFWPcFYP8QaABwAHgAgAFoiAHNAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=tM6KYaTFFejx5OUPj4Wq0AY&bih=623&biw=1366" target="_blank">Olea europaea L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Pachira+aquatica+Aubl.&tbm=isch&ved=2ahUKEwiOgPLPhIz0AhUNALkGHRdLBtwQ2-cCegQIABAA&oq=Pachira+aquatica+Aubl.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJzoGCAAQCBAeUJkEWJkEYLgMaABwAHgAgAFoiAHKAZIBAzEuMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=zM6KYY7qEI2A5OUPl5aZ4A0&bih=623&biw=1366" target="_blank">Pachira aquatica Aubl.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Persea+americana+Mill.&tbm=isch&ved=2ahUKEwiR-ezXhIz0AhX4NLkGHZXQBxQQ2-cCegQIABAA&oq=Persea+americana+Mill.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoECAAQHlCtBFitBGDRC2gAcAB4AIABZIgBxQGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=3M6KYZGbO_jp5OUPlaGfoAE&bih=623&biw=1366" target="_blank">Persea americana Mill.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Pinus+pineae&tbm=isch&ved=2ahUKEwj8lcLphIz0AhXvNbkGHf4ECAsQ2-cCegQIABAA&oq=Pinus+pineae&gs_lcp=CgNpbWcQAzIHCCMQ7wMQJ1D8Clj9E2CKGmgAcAB4AIABaogBmgOSAQMwLjSYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=As-KYfyMAe_r5OUP_omgWA&bih=623&biw=1366" target="_blank">Pinus pineae P.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Pinus+radiata+D&tbm=isch&ved=2ahUKEwibkZz6hIz0AhUUAdQKHbp-DcEQ2-cCegQIABAA&oq=Pinus+radiata+D&gs_lcp=CgNpbWcQDDIGCAAQCBAeMgQIABAeMgQIABAeMgYIABAIEB4yBggAEAgQHjoHCCMQ7wMQJzoFCAAQgARQvgRYvgRg8AxoAHAAeACAAWSIAccBkgEDMS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=Jc-KYdvqApSC0Aa6_bWIDA&bih=623&biw=1366" target="_blank">Pinus radiata D.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Pinus+sp&tbm=isch&ved=2ahUKEwjZzLqPhYz0AhUbALkGHWLSDQYQ2-cCegQIABAA&oq=Pinus+sp&gs_lcp=CgNpbWcQDDIECAAQQzIFCAAQgAQyBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB46BwgjEO8DECdQoyRYoyRgxTJoAHAAeACAAY8BiAH2AZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=Uc-KYZngI5uA5OUP4qS3MA&bih=623&biw=1366" target="_blank">Pinus sp.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Prunus+persica+(L.)+Batsch&tbm=isch&ved=2ahUKEwjg-oGdhYz0AhUIK7kGHTO2Dm8Q2-cCegQIABAA&oq=Prunus+persica+(L.)+Batsch&gs_lcp=CgNpbWcQDDIECAAQEzoHCCMQ7wMQJ1DUBFjUBGC3C2gAcAB4AIABaYgBzwGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=bs-KYeCLAYjW5OUPs-y6-AY&bih=623&biw=1366" target="_blank">Prunus persica (L.) Batsch</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Psidium+guajava+L&tbm=isch&ved=2ahUKEwiRr6mqhYz0AhUxFLkGHTloBLQQ2-cCegQIABAA&oq=Psidium+guajava+L&gs_lcp=CgNpbWcQDDIFCAAQgAQyBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBggAEAgQHjIGCAAQBRAeOgcIIxDvAxAnUPMDWPMDYJ0MaABwAHgAgAFoiAHNAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=ic-KYdHGOLGo5OUPudCRoAs&bih=623&biw=1366" target="_blank">Psidium guajava L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Pterogyne+nitens+Tul&tbm=isch&ved=2ahUKEwjhv-66hYz0AhVyI7kGHS-WCUYQ2-cCegQIABAA&oq=Pterogyne+nitens+Tul&gs_lcp=CgNpbWcQDDIFCAAQgAQ6BwgjEO8DECc6BAgAEB46BggAEAgQHjoGCAAQBxAeUNQEWNQEYJkMaABwAHgAgAF1iAHfAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=rM-KYeG5JfLG5OUPr6ymsAQ&bih=623&biw=1366" target="_blank">Pterogyne nitens Tul.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Roystonea+oleracea+L.H.+Bailey&tbm=isch&ved=2ahUKEwjA3MHChYz0AhVgOLkGHZG8AkAQ2-cCegQIABAA&oq=Roystonea+oleracea+L.H.+Bailey&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1CwCViwCWDHEGgAcAB4AIABcIgB0QGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=vM-KYcCOKODw5OUPkfmKgAQ&bih=623&biw=1366" target="_blank">Roystonea oleracea L.H. Bailey</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Sapindus+saponaria+L.&tbm=isch&ved=2ahUKEwi_sYHOhYz0AhWlBLkGHQHADh0Q2-cCegQIABAA&oq=Sapindus+saponaria+L.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1CRBViRBWD7DmgAcAB4AIABgAGIAegBkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=1M-KYb_3LqWJ5OUPgYC76AE&bih=623&biw=1366" target="_blank">Sapindus saponaria L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Sapium+sebiferum+(L.)+Roxb.&tbm=isch&ved=2ahUKEwiEjajmhYz0AhVTDdQKHaMcDo8Q2-cCegQIABAA&oq=Sapium+sebiferum+(L.)+Roxb.&gs_lcp=CgNpbWcQDDIHCCMQ7wMQJ1AAWABgiQpoAHAAeACAAWaIAWaSAQMwLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=B9CKYcTtLNOa0Aajubj4CA&bih=623&biw=1366" target="_blank">Sapium sebiferum (L.) Roxb.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Schefflera+actinophylla+Harms&tbm=isch&ved=2ahUKEwirstfohYz0AhWVCrkGHR2-CrsQ2-cCegQIABAA&oq=Schefflera+actinophylla+Harms&gs_lcp=CgNpbWcQDDIGCAAQCBAeMgQIABAeOgcIIxDvAxAnUIsFWIsFYKENaABwAHgAgAFoiAHCAZIBAzEuMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=DNCKYav8KpWV5OUPnfyq2As&bih=623&biw=1366" target="_blank">Schefflera actinophylla Harms</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Schinus+molle+L&tbm=isch&ved=2ahUKEwit7KbwhYz0AhXSHrkGHfXqBZEQ2-cCegQIABAA&oq=Schinus+molle+L&gs_lcp=CgNpbWcQDDIFCAAQgAQyBAgAEB4yBAgAEB4yBggAEAgQHjIGCAAQCBAeOgcIIxDvAxAnUPgDWPgDYO8NaABwAHgAgAFkiAHIAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=HNCKYa3uKdK95OUP9dWXiAk&bih=623&biw=1366" target="_blank">Schinus molle L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Schinus+terebinthifolia+Raddi&tbm=isch&ved=2ahUKEwjPru_2hYz0AhUTB9QKHYpFDoMQ2-cCegQIABAA&oq=Schinus+terebinthifolia+Raddi&gs_lcp=CgNpbWcQDDIFCAAQgAQyBggAEAoQGDoHCCMQ7wMQJzoECAAQHjoGCAAQCBAeUKcUWKcUYOkeaABwAHgAgAFniAHOAZIBAzAuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=KtCKYc_xG5OO0AaKi7mYCA&bih=623&biw=1366" target="_blank">Schinus terebinthifolia Raddi</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Schizolobium+parahyba+(Vell.)+Blake&tbm=isch&ved=2ahUKEwjtxpv-hYz0AhUQD7kGHYr8AZcQ2-cCegQIABAA&oq=Schizolobium+parahyba+(Vell.)+Blake&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJzoGCAAQChAYUPIEWPIEYIcOaABwAHgAgAFoiAHIAZIBAzEuMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=OdCKYa3GNJCe5OUPivmHuAk&bih=623&biw=1366" target="_blank">Schizolobium parahyba (Vell.) Blake</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Senna+siamea+Lam.&tbm=isch&ved=2ahUKEwiTk_eIhoz0AhVxBLkGHdroALkQ2-cCegQIABAA&oq=Senna+siamea+Lam.&gs_lcp=CgNpbWcQDDoHCCMQ7wMQJ1CsBVisBWCbDWgAcAB4AIABaYgBywGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=UNCKYZOrFPGI5OUP2tGDyAs&bih=623&biw=1366" target="_blank">Senna siamea Lam.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Solanum+paniculatum+L.&tbm=isch&ved=2ahUKEwii0L-Thoz0AhXxAtQKHRVyDhgQ2-cCegQIABAA&oq=Solanum+paniculatum+L.&gs_lcp=CgNpbWcQDDIECAAQHjoHCCMQ7wMQJ1CjBFijBGCeC2gAcAB4AIABbIgB1QGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=ZtCKYaKFHvGF0AaV5LnAAQ&bih=623&biw=1366" target="_blank">Solanum paniculatum L.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Spathodea+campanulata+P.+Beauv&tbm=isch&ved=2ahUKEwjXsrGThYz0AhVYDrkGHbUGBkIQ2-cCegQIABAA&oq=Spathodea+campanulata+P.+Beauv&gs_lcp=CgNpbWcQDDIFCAAQgAQ6BwgjEO8DECc6BggAEAcQHlDFBFjFBGCIC2gAcAB4AIABaIgBzQGSAQMwLjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Wc-KYZeiMtic5OUPtY2YkAQ&bih=623&biw=1366" target="_blank">Spathodea campanulata P. Beauv.</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Tabebuia+alba&tbm=isch&ved=2ahUKEwjNw7vuhIz0AhX1BbkGHaIfBKMQ2-cCegQIABAA&oq=Tabebuia+alba&gs_lcp=CgNpbWcQDDIFCAAQgAQyBQgAEIAEMgYIABAIEB4yBggAEAgQHjoHCCMQ7wMQJ1DylwFY8pcBYIygAWgCcAB4AIABaIgBqgKSAQMyLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=DM-KYc2NGPWL5OUPor-QmAo&bih=623&biw=1366" target="_blank">Tabebuia alba</a>

<a class="dropdown-item" href="https://www.google.com/search?q=Tabebuia+impetiginosa&tbm=isch&ved=2ahUKEwjDw8eChIz0AhXyAtQKHU_lBacQ2-cCegQIABAA&oq=Tabebuia+impetiginosa&gs_lcp=CgNpbWcQDDIFCAAQgAQyBQgAEIAEMgQIABAeMgQIABAeMgQIABAeMgQIABAeMgQIABAeMgQIABAYMgQIABAYOgcIIxDvAxAnOgYIABAHEB5Q1gNY1gNg6A5oAHAAeACAAWiIAcwBkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=Ks6KYcOGBvKF0AbPype4Cg&bih=623&biw=1366" target="_blank">Tabebuia impetiginosa</a>
              
            </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST">
          <input class="form-control mr-sm-2" type="search" placeholder="Nome popular" autofocus="autofocus" name="search_string">
          <input class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/search" value="Pesquisar">
        </form>
      <a href="{{url_for('admin')}}" class="btn btn-light" style="margin-top: 0px; margin-left: 180px;">Administrador</a>
      
      
    </div>
    
  </nav>
</div>
<div class="container">
  {% for im in get_image %}
    <div class="row">
     
    <div class="col-md-5">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{url_for('static', filename='images/'+ im.image_1)}}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{url_for('static', filename='images/'+ im.image_2)}}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{{url_for('static', filename='images/'+ im.image_3)}}" alt="Third slide">
          </div>
             
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/asiviogov1.jpg')}}" alt="Third slide">
        </div>

        </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <div style="overflow:auto;">
        {% endfor %}
        {% for p in get_npraca %}
        <p></p>
        <p></p>
        <p></p>
        <p style="text-align: justify;">{{p.desc }} </p>
        <p>                                                                              <p style="text-align: justify;">Monte Alto foi construída exatamente sobre o divisor de águas entre a bacia hidrográfica do Mogi Guaçu e a bacia hidrográfica do Turvo-Grande. A altitude média é de 735m, entretanto, alguns pontos ultrapassam os 800m. Possui o clima tropical de altitude, que se evidencia acima dos 600m e se caracteriza por apresentar verões chuvosos e quentes e invernos secos e frios, em que geadas e temperaturas muito próximas do ponto de congelamento não são incomuns. </p>
        <p>Fonte: Wikipédia</p>

                                                                                                                                                                     </p>
        <p></p>
  
  </div>     
        <p></p>
        
  
        

        
  </div>
      
    <div class="col-md-7">
        
      
          <h4 class="text-center"> {{p.name}}</h4>      
          <h5 class="text-center"> {{p.end}}</h5>

          
          {% endfor %}

            <div class="col-md-14" >
              <table class="table table-sm table-striped">
                <thead>
                    <th>Nome popular</th>
                    <th>Espécie</th>
                    <th>família</th>
                    <th>Qtd.</th>
                    <th>Origem</th>
                    <th></th>
                 </thead>
        
                <tbody>
                    {% for arvore in get_praca %}
                    
                    <tr>
                        <td>{{arvore.arvore.name}}</td>
                        <td><em>{{arvore.arvore.especie}}</em></a></td>
                        <td>{{arvore.familia.name}}</td>
                        <td>{{arvore.qtd}}</td>
                        <td>{{arvore.origem}}</td>
                        <td></td>                      
                    </div>
                </div>
                    {% endfor %}
      </div>
                </div>
        </div>
    </div>
        
      </div>  
     
        
    </div>
   
</div>

</div>
    
</div>

</div>
</div>
  



{% endblock content %}