{% extends "layouts.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include "_messages.html" %}
            {% if arvore %}
            <h2 class="text-center mt-5">Cadastrar Árvore</h2>
            <form action="" method="POST">
                <h3 class="text-nowrap mt-2">Nome Popular:</h3>
                <input type="text" name="arvore" class="form-control">
                <h3 class="text-nowrap mt-2">Espécie:</h3>
                <input type="text" name="especie" class="form-control">
                
                <input type="submit" value="Cadastrar Arvore" class="btn btn-success mt-2">
            </form>
            <a href="{{url_for('admin')}}" class="btn btn-secondary" style="margin-top: -67px; margin-left: 180px;">Cancelar</a>
            {% else %}
            <h2 class="text-center mt-5">Cadastrar Família</h2>
            <form action="" method="POST">
                <input type="text" name="familia" class="form-control">
                <input type="submit" value="Cadastrar Família" class="btn btn-success mt-2">

            </form>
            <a href="{{url_for('admin')}}" class="btn btn-secondary" style="margin-top: -67px; margin-left: 180px;">Cancelar</a>
            {% endif %}
        </div>
        <div>

       
        </div>
        
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock content %}